<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch2gether - Trang xem</title>

    <!-- Import things -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/style/style.css"> -->

    <!-- PLYR -->
    <script src="https://cdn.plyr.io/3.5.10/plyr.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.plyr.io/3.5.10/plyr.css" />

    <!-- <link rel="stylesheet" href="/static/style.css"> -->

    <style>
        

        .chatBoxWarp{
            height: auto;
            overflow-x: auto;
            word-wrap: normal;
        }


        .anima{
            animation: rung 0.75s linear;
        }

        @keyframes rung {
            0%{
                transform: translateX(-10px);
            }
            25%{
                transform: translateX(5px);
            }
            50%{
                transform: translateX(-5px);
            }
            100%{
                transform: translateX(0);
            }
        }
    </style>
</head>
<body>

    <!-- <div class="jumbotron header row">

        <div class="webicon col-md">
            <h3>Watch2gether</h3>
            <p>Xem phim cùng nhau, sống qua mùa dịch!</p>
        </div> -->



    </div>

    <div class="container-fluid">
        
        <div class="row">

            <!-- <div class="col-md-2">
                <p id="info"></p>
            </div> -->

            <div class="col-md-8 player">

                <div class="plyr__video-embed" id="player">
                    <iframe
                        src="https://player.vimeo.com/video/399786298"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                        width="720" height="480"
                    ></iframe>



                </div>

                <!-- <video poster="thumb.png" id="player" playsinline controls>
                    <source src="video.mp4" type="video/mp4" />
                </video> -->

            </div>
            
            <div class="col-md-4 chatBoxWarp">
                <br><br>
                <button type="button" class="btn btn-outline-primary" id="syncBtn"><span class="glyphicon glyphicon-refresh"></span>Sync</button>
                <h2>Chatbox</h2>
                <div class="alert alert-danger infoBoard" role="alert">
                    <strong>Thông báo</strong> <p id="info"></p>
                </div>
                <div style="overflow-x: auto;" class="chatbox">
                    <p class="text-info">Tính năng chat chửi lộn sẽ phát triển sau</p>
                </div>

                

            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.min.js"></script>
    <script>

        // Player
        const player = new Plyr('#player');

        var socket = io(); 

        socket.on('HichatBox',(data)=>{

            $('.chatbox').append('<p>'+ data.autoChat+'</p>')

        })

        socket.on('HiRoom',(data)=>{

            $('#info').text(data.autoChat)

        })

        socket.on('info',(data)=>{

            $('#info').text(data.autoChat)
            $('.infoBoard').addClass('anima');
            setTimeout(()=>{
                $('.infoBoard').removeClass('anima');
            },1000)

        })

        $('#syncBtn').click(()=>{

            player.pause();

            socket.emit('playerSync',{
                time: player.currentTime,
                isPlaying: player.playing,
            })

            player.play();


        })


        // Auto sync current time

        socket.on('playerSync',(data)=>{    

            player.pause();
            player.currentTime = data.time;
            player.play();
            
        })
        
    </script>
</body>
</html>